:host {
  display: block;
}
.sux-form-field {
  position: relative;
}
.sux-switch {
  position: relative;
  font-family: var(--switch-label-font-family);
  &_label {
    font-size: var(--switch-label-font-size);

    font-family: var(--switch-label-font-weight);
    // display: inline-block;
    &:not(::before),&:not(::after) {
      display: inline-block;
    }
    // unselected track
    &::before {
      position: relative;
      display: flex;
      content: '';
      border-radius: var(--switch-track-border-radius);
      border: var(--switch-track-border-width) solid;
      border-color: var(--switch-track-unselected-border-color);
      background-color: var(--switch-track-unselected-background-color);
      height:var(--switch-track-height);
      width: 40px;
      // padding-right: var(--switch-track-unselected-padding-right);
      // padding-left: var(--switch-track-unselected-padding-left);
      // padding-top: var(--switch-track-unselected-padding-top);
      // padding-bottom: var(--switch-track-unselected-padding-bottom);
      z-index: 2;
      transition: 0.1s background-color linear;
    }
    // unselected handle
    &::after {
      box-sizing: border-box;
      position: absolute;
      content: '';
      top: 21px;
      left: 0;
      z-index: 3;
      height: var(--switch-handle-height);
      width: var(--switch-handle-width);
      border-radius: var(--switch-handle-border-radius);
      border: 1px solid var(--switch-handle-unselected-border-color);
      background-color: var(--switch-handle-unselected-background-color);
      transition: 0.1s left linear, 0.1s border-color linear;
    }
  }
  &_input {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;

    // Style for checked state
    &:checked {
      + .sux-switch_label {
        // checked track
        &::before {
          border-color: var(--switch-track-selected-border-color);
          background-color: var(--switch-track-selected-background-color);
        }
        // checked handle
        &::after {
          background-color: var(--switch-handle-selected-background-color);
          border-color: var(--switch-handle-selected-border-color);
          left: 18px;
        }
      }
    }

    // Style for disabled state
    &:disabled {
      + .sux-switch_label {
        cursor: not-allowed;
        // disabled track
        &::before {
          border-color: var(--switch-track-disabled-border-color);
          background-color: var(--switch-track-disabled-background-color);
        }
        // disabled handle
        &::after {
          background-color: var(--switch-handle-disabled-background-color);
          border-color: var(--switch-handle-disabled-border-color);
        }
      }
    }
  }

  // style for hover state
  &:hover {
    .sux-switch_input {
      &:not(:disabled),
      &:checked:not(:disabled) {
        + .sux-switch_label {
          // selected hover track
          &::before {
            border-color: var(--switch-track-selected-hover-border-color);
            background-color: var(--switch-track-selected-hover-background-color);
          }
          // selected hover handle
          &::after {
            border-color: var(--switch-handle-selected-hover-border-color);
            background-color: var(--switch-handle-selected-hover-background-color);
          }
        }
      }

      &:not(:disabled) {
        + .sux-switch_label {
          // unselected hover track
          &::before {
            background-color: var(--switch-track-unselected-hover-background-color);
            border-color: var(--switch-track-unselected-hover-border-color);
          }
          // unselected hover handle
          &::after {
            background-color: var(--switch-handle-unselected-hover-background-color);
            border-color: var(--switch-handle-unselected-hover-border-color);
          }
        }
      }

      &:checked:not(:disabled) {
        + .sux-switch_label {
          &::before {
            background-color: var(--switch-track-selected-background-color);
          }
        }
      }
    }
  }
}


