@import '../../assets/tokens/components/_field-label.scss';
:host {
  display: block;
}
:host([position='side']) {
  display: inline-block;
}
.sux-field-label {
  font-family: $field-label-font-family;
  color: $field-label-text-color;
  margin-bottom: $field-label-margin-bottom;
  &--sizeS {
    font-size: $field-label-small-font-size;
  }
  &--sizeM {
    font-size: $field-label-medium-font-size;
  }
  &--sizeL {
    font-size: $field-label-large-font-size;
  }
  &--sizeXL {
    font-size: $field-label-extra-large-font-size;
  }
  // &--positionTop {
  //   // position: relative;
  // }

  &--required {
    icon {
      display: inline-block !important;
    }
  }
  icon {
    display: none;
  }
  &--disabled {
    color: $field-label-disabled-text-color;
    cursor: none;
  }
}
