@import '../../assets/tokens/components/_field-label.scss';
:host {
  display: block;
}
:host([position='side']) {
  display: inline-block;
  margin-right: 32px;
}
.sux-field-label {
  font-family: var(--field-label-font-family);
  color: var(--field-label-text-color);
  margin-bottom: var(--field-label-margin-bottom);
  &--sizeS {
    font-size: var(--field-label-small-font-size);
  }
  &--sizeM {
    font-size: var(--field-label-medium-font-size);
  }
  &--sizeL {
    font-size: var(--field-label-large-font-size);
  }
  &--sizeXL {
    font-size: var(--field-label-extra-large-font-size);
  }
  // &--positionTop {
  //   // position: relative;
  // }

  &--required {
    icon {
      display: inline-block !important;
    }
  }
  icon {
    display: none;
  }
  &--disabled {
    color: var(--field-label-disabled-text-color);
    cursor: none;
  }
}
