@import '../../assets/tokens/components/_help-text.scss';
:host {
  display: block;
}
.sux-help-text {
  font-family: var(--help-text-font-family);
  &--neutral {
    color: var(--help-text-neutral-text-color);
  }
  &--negative {
    color: var(--help-text-negative-text-color);
  }
  &--sizeS {
    font-size: var(--help-text-small-text-size);
  }
  &--sizeM {
    font-size: var(--help-text-medium-text-size);
  }
  &--sizeL {
    font-size: var(--help-text-large-text-size);
  }
  &--sizeXL {
    font-size: var(--help-text-extra-large-text-size);
  }
  &--disabled {
    color: var(--help-text-disabled-text-color);
  }
  &--icon {
    icon {
      display: inline-block !important;
    }
  }
  icon {
    display: none;
  }
}
