@import '../../assets/tokens/components/_checkbox.scss';

:host {
  display: inline-block;
}

.hidden,
:host([hidden]) {
  display: none;
}

.sux-form-field {
  display: flex;
  flex-direction: column;
}

.sux-checkbox {
  display: flex;
  position: relative;
  line-height: 1.2;

  &--indeterminate {
    input[type='checkbox'] + label::after {
      position: absolute;
      display: flex;
      content: '';
      top: 4px;
      width: 10px;
      height: 5px;
      transform: rotate(0deg);
      border-right: 0;
      border-top: 0;
      border-bottom: 3px solid var(--checkbox-indeterminate-checkmark-color);
      left: 5px;
    }
  }
  &--error {
    input[type='checkbox'] {
      + label {
        color: var(--checkbox-error-label-color) !important;

        &::before {
          border: 1px solid var(--checkbox-error-border-color) !important;
        }
      }
      &:checked {
        + label {
          &::after {
            border-right: 2px solid var(--checkbox-error-checkmark-color) !important;
            border-top: 2px solid var(--checkbox-error-checkmark-color) !important;
          }
        }
      }
    }
  }
  input[type='checkbox'] {
    -webkit-appearance: none;
    appearance: none;

    + label {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: var(--checkbox-unselected-label-color);
      letter-spacing: 0.5px;
      cursor: pointer;
      margin-left: -7px;
      font-family: var(--checkbox-label-font-family);

      // Box
      &::before {
        display: flex;
        content: '';
        align-self: start;
        height: 1.125rem;
        width: 1.125rem;
        margin: 0 0.625rem 0 0;
        background-color: var(--checkbox-unselected-background-color);
        border: 1px solid var(--checkbox-unselected-border-color);
      }
    }

    // checked
    &:checked {
      + label {
        &::after {
          position: absolute;
          display: flex;
          content: '';
          top: 5px;
          height: 6px;
          width: 12px;
          left: 3px;
          border-right: 2px solid var(--checkbox-selected-checkmark-color);
          border-top: 2px solid var(--checkbox-selected-checkmark-color);
          transform: rotate(125deg);
        }
        &::before {
          border-color: var(--checkbox-selected-border-color);
        }
      }
    }

    &:disabled {
      + label {
        cursor: not-allowed;
        color: var(--checkbox-disabled-label-color);
        &::before {
          border-color: var(--checkbox-disabled-border-color);
        }
      }
    }
  }

  input[type='checkbox']:not(:disabled):hover {
    + label {
      &::before {
        border-color: var(--checkbox-unselected-hover-border-color);
      }
    }
  }

  &--has-text {
    margin-bottom: 0;
  }

  + .sux-help-text {
    margin-bottom: 0.75rem;
  }
}
