# dist/
www/
loader/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
# docs.json
sb-static/0.7fed9dca904767e307ba.manager.bundle.js
sb-static/0.eb9e1b92.iframe.bundle.js
sb-static/4.56a273be.iframe.bundle.js
sb-static/4.56a273be.iframe.bundle.js.LICENSE.txt
sb-static/4.56a273be.iframe.bundle.js.map
sb-static/4.72aeb7122298f85ac331.manager.bundle.js
sb-static/4.72aeb7122298f85ac331.manager.bundle.js.LICENSE.txt
sb-static/5.5a9b636c.iframe.bundle.js
sb-static/5.fa4ff2cb398932c1df8b.manager.bundle.js
sb-static/6.ed1ff32d.iframe.bundle.js
sb-static/6.ed1ff32d.iframe.bundle.js.LICENSE.txt
sb-static/6.ed1ff32d.iframe.bundle.js.map
sb-static/6.f3738666b251268248c2.manager.bundle.js
sb-static/6.f3738666b251268248c2.manager.bundle.js.LICENSE.txt
sb-static/7.b48a3968.iframe.bundle.js
sb-static/7.e8b2005c50921cb3ab9d.manager.bundle.js
sb-static/8.a373c16e42c7b3b0160b.manager.bundle.js
sb-static/favicon.ico
sb-static/iframe.html
sb-static/index.cjs.js
sb-static/index.html
sb-static/index.js
sb-static/main.92e13b6c937507c15458.manager.bundle.js
sb-static/main.ad5c26ee.iframe.bundle.js
sb-static/runtime~main.18f99ee1.iframe.bundle.js
sb-static/runtime~main.da11720a145e87831898.manager.bundle.js
sb-static/vendors~main.769d47d5.iframe.bundle.js
sb-static/vendors~main.769d47d5.iframe.bundle.js.LICENSE.txt
sb-static/vendors~main.769d47d5.iframe.bundle.js.map
sb-static/vendors~main.1809003e5a44d58ddf7a.manager.bundle.js
sb-static/vendors~main.1809003e5a44d58ddf7a.manager.bundle.js.LICENSE.txt
sb-static/cjs/index-c08b928e.js
sb-static/cjs/index.cjs.js
sb-static/cjs/loader.cjs.js
sb-static/cjs/substrate-ds.cjs.js
sb-static/cjs/sux-body_3.cjs.entry.js
sb-static/collection/collection-manifest.json
sb-static/collection/index.js
sb-static/collection/components/defaults/prop-defaults.js
sb-static/collection/components/sux-body/interfaces.js
sb-static/collection/components/sux-body/sux-body.css
sb-static/collection/components/sux-body/sux-body.js
sb-static/collection/components/sux-button/interfaces.js
sb-static/collection/components/sux-button/sux-button.css
sb-static/collection/components/sux-button/sux-button.js
sb-static/collection/components/sux-heading/interfaces.js
sb-static/collection/components/sux-heading/sux-heading.css
sb-static/collection/components/sux-heading/sux-heading.js
sb-static/collection/utils/utils.js
sb-static/custom-elements/index.d.ts
sb-static/custom-elements/index.js
sb-static/esm/index-d0ea01d6.js
sb-static/esm/index.js
sb-static/esm/loader.js
sb-static/esm/substrate-ds.js
sb-static/esm/sux-body_3.entry.js
sb-static/esm/polyfills/core-js.js
sb-static/esm/polyfills/css-shim.js
sb-static/esm/polyfills/dom.js
sb-static/esm/polyfills/es5-html-element.js
sb-static/esm/polyfills/index.js
sb-static/esm/polyfills/system.js
sb-static/substrate-ds/index.esm.js
sb-static/substrate-ds/p-706d3d58.js
sb-static/substrate-ds/p-51548a9d.entry.js
sb-static/substrate-ds/substrate-ds.esm.js
sb-static/types/components.d.ts
sb-static/types/index.d.ts
sb-static/types/stencil-public-runtime.d.ts
sb-static/types/components/sux-body/interfaces.d.ts
sb-static/types/components/sux-body/sux-body.d.ts
sb-static/types/components/sux-button/interfaces.d.ts
sb-static/types/components/sux-button/sux-button.d.ts
sb-static/types/components/sux-heading/interfaces.d.ts
sb-static/types/components/sux-heading/sux-heading.d.ts
sb-static/types/utils/utils.d.ts
