@import '../../assets/tokens/components/_text-area.scss';

:host {
  display: block;
}
.sux-text-area {
  border: $text-area-border-color $text-area-border-width solid;
  border-radius: $text-area-border-radius;
  &::placeholder {
    color: $text-area-placeholder-text-color;
    font-style: italic;
  }
  &:focus-visible {
    outline: $text-area-focus-outline-width $text-area-focus-outline-color solid;
    outline-offset: $text-area-focus-outline-offset;
  }
  &:focus:not(:focus-visible) {
    outline: none;
  }
  &:focus-visible {
    outline: $text-area-focus-outline-width $text-area-focus-outline-color solid;
    // outline-offset: $text-area-focus-outline-offset;
  }
  &:hover {
    border-color: $text-area-hover-border-color;
  }
  &--disabled {
    cursor: none;
  }
  &--error {
    border-color: $text-area-error-border-color;
  }
  &--sizeS {
    font-size: $text-area-small-font-size;
    padding-top: $text-area-small-padding-top;
    padding-bottom: $text-area-small-padding-bottom;
    padding-left: $text-area-small-padding-left;
    padding-right: $text-area-small-padding-right;
  }
  &--sizeM {
    font-size: $text-area-medium-font-size;
    padding-top: $text-area-medium-padding-top;
    padding-bottom: $text-area-medium-padding-bottom;
    padding-left: $text-area-medium-padding-left;
    padding-right: $text-area-medium-padding-right;
  }
  &--sizeL {
    font-size: $text-area-large-font-size;
    padding-top: $text-area-large-padding-top;
    padding-bottom: $text-area-large-padding-bottom;
    padding-left: $text-area-large-padding-left;
    padding-right: $text-area-large-padding-right;
  }
  &--sizeXL {
    font-size: $text-area-extra-large-font-size;
    padding-top: $text-area-extra-large-padding-top;
    padding-bottom: $text-area-extra-large-padding-bottom;
    padding-left: $text-area-extra-large-padding-left;
    padding-right: $text-area-extra-large-padding-right;
  }
}
