:host {
  display: block;
}
.sux-body {
  line-height: var(--body-line-height);
  & em {
    font-weight: var(--body-emphasized);
  }
  & strong {
    font-style: var(--body-strong);
  }

  &--serif {
    font-family: var(--body-font-family-serif);
  }
  &--sans-serif {
    font-family: var(--body-font-family-sans-serif);
  }
  &--mono {
    font-family: var(--body-font-family-mono);
  }
  &--xs {
    font-size: var(--body-font-size-xs);
  }
  &--s {
    font-size: var(--body-font-size-s);
  }
  &--m {
    font-size: var(--body-font-size-m);
  }
  &--l {
    font-size: var(--body-font-size-l);
  }
  &--xl {
    font-size: var(--body-font-size-xl);
  }
  &--xxl {
    font-size: var(--body-font-size-xxl);
  }
  &--xxxl {
    font-size: var(--body-font-size-xxxl);
  }
}
