:host {
  display: block;
}
.sux-body {
  line-height: var(--body-line-height);
  & em {
    font-weight: var(--body-emphasized);
  }
  & strong {
    font-style: var(--body-strong);
  }

  &--serif {
    font-family: var(--body-serif-font-family);
  }
  &--sans-serif {
    font-family: var(--body-sans-serif-font-family);
  }
  &--mono {
    font-family: var(--body-mono-font-family);
  }
  &--xs {
    font-size: var(--body-xs-text-size);
  }
  &--s {
    font-size: var(--body-s-text-size);
  }
  &--m {
    font-size: var(--body-m-text-size);
  }
  &--l {
    font-size: var(--body-l-text-size);
  }
  &--xl {
    font-size: var(--body-xl-text-size);
  }
  &--xxl {
    font-size: var(--body-xxl-text-size);
  }
  &--xxxl {
    font-size: var(--body-xxxl-text-size);
  }
}
