@import '../../assets/tokens/components/_text-field.scss';
:host {
  display: flex;

}

.sux-form-field {
  display: flex;
  // flex-direction: row;
  &.--position-top{
    flex-direction: column;
  }
  &.--position-side{
    flex-direction: row;
  }
  .sux-text-field-icon--error {
    position: absolute;
    align-self: flex-end;
  }
}
.sux-input {
  display: flex;
  flex-direction: column;
}
.sux-text-field {

  border: var(--text-field-border-color) var(--text-field-border-width) solid;
  border-radius: var(--text-field-border-radius);
  &::placeholder {
    color: var(--text-field-placeholder-text-color);
    font-style: italic;
  }
  &:focus-visible {
    outline: var(--text-field-focus-outline-width) var(--text-field-focus-outline-color) solid;
    outline-offset: var(--text-field-focus-outline-offset);
  }
  &:focus:not(:focus-visible) {
    outline: none;
  }
  &:focus-visible {
    outline: var(--text-field-focus-outline-width) var(--text-field-focus-outline-color) solid;
    // outline-offset: var(--text-field-focus-outline-offset);
  }
  &:hover {
    border-color: var(--text-field-hover-border-color);
  }
  &--disabled {
    cursor: none;
    border-color: var(--text-field-disabled-border-color);
    background-color: var(--text-field-disabled-background-color);
    &:hover {
      border-color: var(--text-field-disabled-border-color);
    }
  }
  &--error {
    border-color: var(--text-field-error-border-color);
  }
  &--sizeS {
    font-size: var(--text-field-small-font-size);
    padding-top: var(--text-field-small-padding-top);
    padding-bottom: var(--text-field-small-padding-bottom);
    padding-left: var(--text-field-small-padding-left);
    padding-right: var(--text-field-small-padding-right);
    &::placeholder {
      font-size: var(--text-field-small-font-size);
    }
  }
  &--sizeM {
    font-size: var(--text-field-medium-font-size);
    padding-top: var(--text-field-medium-padding-top);
    padding-bottom: var(--text-field-medium-padding-bottom);
    padding-left: var(--text-field-medium-padding-left);
    padding-right: var(--text-field-medium-padding-right);
    &::placeholder {
      font-size: var(--text-field-medium-font-size);
    }
  }
  &--sizeL {
    font-size: var(--text-field-large-font-size);
    padding-top: var(--text-field-large-padding-top);
    padding-bottom: var(--text-field-large-padding-bottom);
    padding-left: var(--text-field-large-padding-left);
    padding-right: var(--text-field-large-padding-right);
    &::placeholder {
      font-size: var(--text-field-large-font-size);
    }
  }
  &--sizeXL {
    font-size: var(--text-field-extra-large-font-size);
    padding-top: var(--text-field-extra-large-padding-top);
    padding-bottom: var(--text-field-extra-large-padding-bottom);
    padding-left: var(--text-field-extra-large-padding-left);
    padding-right: var(--text-field-extra-large-padding-right);
    &::placeholder {
      font-size: var(--text-field-extra-large-font-size);
    }
  }
}
