@import '../../assets/tokens/components/_detail.scss';
:host {
  display: block;
}
.sux-detail {
  line-height: var(--detail-line-height);

  &--serif {
    font-family: var(--detail-font-family-serif);
  }
  &--sans-serif {
    font-family: var(--detail-font-family-sans-serif);
  }
  &--mono {
    font-family: var(--detail-font-family-mono);
  }
  &--s {
    font-size: var(--detail-font-size-s);
  }
  &--m {
    font-size: var(--detail-font-size-m);
  }
  &--l {
    font-size: var(--detail-font-size-l);
  }
  &--xl {
    font-size: var(--detail-font-size-xl);
  }
  &--light {
    font-weight: var(--detail-font-weight-light);
  }
  &--regular {
    font-weight: var(--detail-font-weight-regular);
  }
}
