:host {
  display: block;
}

.sux-code {
  line-height: 150%;
  font-family: "IBM Plex Mono", monospace;
}
.sux-code--s {
  font-size: 14px;
}
.sux-code--m {
  font-size: 16px;
}
.sux-code--l {
  font-size: 18px;
}
.sux-code--xl {
  font-size: 20px;
}