@import '../../assets/tokens/components/_code.scss';
:host {
  display: block;
}
.sux-code {
  line-height: 150%;
  font-family: var(--code-font-family);

  &--s {
    font-size: var(--code-s-text-size);
  }
  &--m {
    font-size: var(--code-m-text-size);
  }
  &--l {
    font-size: var(--code-l-text-size);
  }
  &--xl {
    font-size: var(--code-xl-text-size);
  }
}
