@import '../../assets/tokens/components/_radio.scss';

:host {
  display: inline-block;
}
.sux-form-field {
  display: inline-block;
  flex-direction: column;
  .sux-label {
    font-family: var(--radio-label-font-family);
  }
}
.sux-radio {
  display: flex;
  position: relative;
  line-height: 1.2;

  input[type='radio'] {
    -webkit-appearance: none;
    appearance: none;

    + label {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-left: -8px;
      color: var(--radio-label-color);
      letter-spacing: 0.5px;
      cursor: pointer;
      font-family: var(--radio-label-font-family);
      // radio border unselected
      &::before {
        box-sizing: border-box;
        display: flex;
        flex-shrink: 0;
        flex-grow: 0;
        content: '';
        align-self: start;
        height: 1.125rem;
        width: 1.125rem;
        margin: 0 0.625rem 0 0;
        border: var(--radio-button-unselected-border-width) var(--radio-button-unselected-border-style) var(--radio-button-unselected-border-color);
        border-radius: var(--radio-button-border-radius);
        background-color: var(--radio-button-unselected-background-color);
      }

      &::after {
        position: absolute;
        top: 5px;
        display: flex;
        content: '';
      }
    }

    &:checked {
      + label {
        &::before {
          background-color: var(--radio-button-selected-background-color);
          border-color: var(--radio-button-selected-border-color);
        }

        &::after {
          position: absolute;
          top: 0px;
          display: flex;
          content: '';
          left: 0px;
          height: var(--radio-checkmark-selected-height);
          width: var(--radio-checkmark-selected-width);
          border-radius: 100%;

          /* box-shadow: inset 0 0 1px 0 rgba(255, 255, 255, 0.9); */

          background-color: var(--radio-checkmark-selected-background-color);
          border-color: var(--radio-checkmark-selected-border-color);
          border-width: var(--radio-checkmark-selected-border-width);
          border-style: var(--radio-checkmark-selected-border-style);
        }
      }
    }

    &:disabled {
      + label {
        cursor: not-allowed;
        // opacity: var(--disabled-opacity);
        color: var(--radio-label-disabled-color);
        &::before {
          border-color: var(--radio-button-disabled-border-color);
        }
      }
    }

    &:not(:disabled) {
      &:hover,
      &:checked:hover {
        + label {
          &::before {
            border-color: var(--radio-button-selected-hover-border-color);
          }
          &::after {
            background-color: var(--radio-checkmark-selected-hover-background-color);
          }
        }
      }
    }
  }
}

:host([hidden]) {
  display: none;
}
