@import '../../assets/tokens/components/_button.scss';
:host {
  display: block;
}
.sux-button {
  position: relative;
  display: inline-flex;

  align-items: center;
  justify-content: center;

  border-radius: var(--button-border-radius);
  border-width: var(--button-border-width);
  border-style: solid;
  background-color: transparent;

  font-family: var(--button-font-family);
  font-weight: var(--button-font-weight);

  &:disabled {
    // opacity: 50%;
    cursor: not-allowed;
    pointer-events: none;
    color: var(--button-disabled-text-color);
    background-color: var(--button-disabled-background-color);
    border-color: var(--button-disabled-border-color);
  }
  &:focus {
    outline: 2px solid rgb(52, 62, 151);
    outline-offset: 2px;
  }

  &:hover:not([disabled]) {
    cursor: pointer;
  }
  &--quiet {
    border: none !important;
    &:hover {
      background-color: var(--button-quiet-hover-background-color) !important;
    }
  }
  &--sizeS {
    font-size: var(--button-small-text-size);
    padding-left: var(--button-small-padding-left);
    padding-right: var(--button-small-padding-right);
    padding-top: var(--button-small-padding-top);
    padding-bottom: var(--button-small-padding-bottom);
  }
  &--sizeM {
    font-size: var(--button-medium-text-size);
    padding-left: var(--button-medium-padding-left);
    padding-right: var(--button-medium-padding-right);
    padding-top: var(--button-medium-padding-top);
    padding-bottom: var(--button-medium-padding-bottom);
  }
  &--sizeL {
    font-size: var(--button-large-text-size);
    padding-left: var(--button-large-padding-left);
    padding-right: var(--button-large-padding-right);
    padding-top: var(--button-large-padding-top);
    padding-bottom: var(--button-large-padding-bottom);
  }
  &--sizeXL {
    font-size: var(--button-extra-large-text-size);
    padding-left: var(--button-extra-large-padding-left);
    padding-right: var(--button-extra-large-padding-right);
    padding-top: var(--button-extra-large-padding-top);
    padding-bottom: var(--button-extra-large-padding-bottom);
  }
  &--cta {
    background-color: var(--button-cta-default-background-color);
    color: var(--button-cta-default-text-color);
    border-color: var(--button-cta-default-border-color);
    &:hover {
      background-color: var(--button-cta-hover-background-color);
      color: var(--button-cta-hover-text-color);
    }
  }
  &--primary {
    color: var(--button-primary-default-text-color);
    border-color: var(--button-primary-default-border-color);
    &:hover {
      background-color: var(--button-primary-hover-background-color);
      color: var(--button-primary-hover-text-color);
    }
  }
  &--secondary {
    color: var(--button-secondary-default-text-color);
    border-color: var(--button-secondary-default-border-color);
    &:hover {
      background-color: var(--button-secondary-hover-background-color);
      color: var(--button-secondary-hover-text-color);
    }
  }
  &--negative {
    color: var(--button-negative-default-text-color);
    border-color: var(--button-negative-default-border-color);
    &:hover {
      background-color: var(--button-negative-hover-background-color);
      color: var(--button-negative-hover-text-color);
    }
  }
}
