@import '../../assets/tokens/components/_heading.scss';
:host {
  display: block;
}
.sux-heading {
  line-height: var(--heading-line-height);

  &--serif {
    font-family: var(--heading-font-family-serif);
  }
  &--sans-serif {
    font-family: var(--heading-font-family-sans-serif);
  }
  &--mono {
    font-family: var(--heading-font-family-mono);
  }
  &--xs {
    font-size: var(--heading-font-size-xs);
  }
  &--s {
    font-size: var(--heading-font-size-s);
  }
  &--m {
    font-size: var(--heading-font-size-m);
  }
  &--l {
    font-size: var(--heading-font-size-l);
  }
  &--xl {
    font-size: var(--heading-font-size-xl);
  }
  &--xxl {
    font-size: var(--heading-font-size-xxl);
  }
  &--light {
    font-weight: var(--heading-font-weight-light);
  }
  &--regular {
    font-weight: var(--heading-font-weight-regular);
  }
  &--semibold {
    font-weight: var(--heading-font-weight-semi-bold);
  }
  &--bold {
    font-weight: var(--heading-font-weight-bold);
  }
}
